.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #222;
  margin: 0;
  line-height: 1;
}

.name span {
  color: #ff7a00; /* highlight color */
}
