#footer .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 2rem;
}

#footer .row .column{
    width:100%;

}
#footer .routes__name{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
}
#footer .routes__container .route__item{
    transition: var(--transition);
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 600;
}
#footer .routes__container .route__item:hover{
    color: var(--color-primary);

}
#footer .newletter{
    margin-top: 10px;

}
#footer .newletter h3{
    margin-bottom: 20px;

}
#footer .newletter .control__container{
    display: flex;
    align-items: stretch;
    max-width: 500px;
    margin: auto;
    border-radius: var(--radius-2);
    overflow: hidden;

}
#footer .newletter .control{
    flex: 1;
    display: block;
    padding: 15px;
    background: var(--color-ui-variant);
    color: var(--color-text);
    font-size: 15;
    overflow: hidden;
    transition: var(--transition);

}
#footer .newletter .btn{
    border-radius: 0;
    background: var(--gradient-2);
    color: var(--color-white);
}
#footer .copyright{
    background: var(--color-ui-secondary);

}
#footer .copyright .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: 40px 20px;


}
#footer .copyright h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
}
@media (max-width:900px){
    #footer .row{
        grid-template-columns: 100%;

    }
    #footer .logo{
        justify-content: center;

    }
    #footer .newletter h3{
        text-align: center;
    }
}